<h1>Transaction List</h1>
<br>
<% display_total = 0 %>
<% @transactions.each do |transaction| %>
<% display_total += transaction.value %>
<% end %>
Total Transaction Value: £<%=display_total%>
<br>
<br>
<% @transactions.each do |transaction| %>
<%merchant = Merchant.find(transaction.merchant_id)%>
<%tagtype = TagType.find(transaction.tagtype_id)%>
Transaction ID: <%= transaction.id %><br>
Merchant:  <%= merchant.name %> <br>
Value: £<%= transaction.value %> <br>
Tag Type:  <%= tagtype.type %> <br>
<br>
  <form method = "post" action = "/transactions/<%=transaction.id%>/delete">
    <input type = "submit" value = "Delete Transaction"/>

<a href="/transactions/<%=transaction.id%>">Show Details</a>
<hr />
<% end %>
