<h1>Total Transaction Value: £<%=@display_total%></h1>
<br>
<a href="/transactions/breakdown">Show Breakdown by Tag Type</a>
<br>
<br>
<a href="/transactions/monthly">Show Breakdown by Month</a>
<br>
<br>
<h1>Transaction List</h1>
<% @transactions.each do |transaction| %>
  <%merchant = Merchant.find(transaction.merchant_id)%>
  <%tagtype = TagType.find(transaction.tagtype_id)%>

  Transaction ID: <%= transaction.id %><br>
  Merchant:  <%= merchant.name %> <br>
  Value: £<%= transaction.value %> <br>
  Tag Type:  <%= tagtype.type %> <br>
  Date:  <%= transaction.date %> <br>
  <br>
    <form method = "post" action = "/transactions/<%=transaction.id%>/delete">
      <input type = "submit" value = "Delete Transaction"/>
    </form><br>

    <a href="/transactions/<%=transaction.id%>">Show Details</a>
    <hr />
<% end %>
<br>
